* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-top: 20px;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

img {
  height: 300px;
  width: 300px;
}
